body
{
    font-family: 'Times New Roman', Helvetica, sans-serif;
}
.nombre
{
    background-color: rgb(188, 245, 255);
}
#DiegoS
{
    background-color: blue;
    color: azure;
}
#DiegoS:hover
{
    background-color: azure;
    color: blue;
}
#DiegoL
{
    background-color: black;
    color: azure;
}
#DiegoL:hover
{
    background-color: azure;
    color: black;
}
#Rebeca
{
    background-color: rgb(255, 188, 241);
}
#Rebeca:hover
{
    background-color: black;
    color: rgb(255, 188, 241);
}
table
{
    border: 2px solid black;
    border-collapse: collapse;
}
th, td
{
    border: 1px solid black;
    padding: 5px;
}
.head
{
    background-color: rgb(62, 179, 161);
}
@media only screen and (min-width: 700px)
{
    body
    {
        background-color: rgb(143, 212, 202);
    }
}
@media only screen and (min-height: 700px)
{
    body
    {
        background-color: rgb(34, 159, 140);
    }
}
.nota
{
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgb(78, 191, 193);
    padding: 15px;
    border: 2px solid black;
    width: 180px;
}